h1{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}

.a {
    padding-left: 40%;
    font-size: 30px;
}

a{
    text-decoration: none;
}

body{
    background-color: azure;
}